<html>
<head>
<title>Login Form</title>
</head>
<body>

<form action="loginCheck.php" method="post">
<fieldset>
<legend>Login</legend>
<table>
<tr>
<td>User Name:</td>
<td><input type="text" id="username" name="username"></td>
</tr>
<tr>
</th><td>Password:</td>
<td><input type="password" id="password" name="password"></td>
</tr>
</table>
<br>
<input type="checkbox" id="rememberMe" name="rememberMe">
<label for="rememberMe">Remember Me</label>
<br>
<button type="submit">Submit</button>
<br>
<a href="/forgotPassword">Forgot Password?</a>
</fieldset>
</form>
</body>
</html>
